.contactContent {
  border: 2px solid #a20000;
  // background: linear-gradient(140deg, $color-1 2%, transparent 200%);
  background: linear-gradient(140deg, #333 64%, transparent 200%);
  border-radius: $borderRadius;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  min-height: 98vh;
  // min-height:620px;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 70% 15%;
  grid-template-areas:
    "1"
    "2"
    "3";

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: inherit;
    background: url(../../media/code-ligne-jaune.jpg) no-repeat center top/cover;
    z-index: -1;
    filter: brightness(100%);

    border-radius: $borderRadius;
  }

  .contactBox {
    grid-area: 2;
   // background: $color-1;
   // background:  rgba(255,185,56,.8549019607843137);
    background: #ffb938da;
    border: 2px solid #a20000;
    margin: 0 auto;
    padding: 1rem 3rem;
    z-index: 3;
    border-radius: $borderRadius;
    box-shadow: 0 3px 10px #333;
    width: 50%;
    min-width: 550px;

    h1 {
      font-size: 2rem;
      text-align: center;
      font-style: italic;
      margin-top: 0.3rem;
      position: relative;
      // color: $color-8;
      color: #a20000;
      // text-shadow: 1px 1px 2px $black;
      text-shadow: 1px 1px 3px #000000;

      &:after {
        content: "";
        height: 2px;
        width: 40%;
        // background: $color-1;
        background: #a20000;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    ul {
      height: 60%;
      width: inherit;
      display: grid;
      margin-top: 3.5rem;

      li {
        position: relative;
      }

      i {
        font-size: 1.4rem;
        position: absolute;
        transform: translateY(2px);
        // color: $color-8;
        color: #a72b2b;
        text-shadow: 1px 1px 1px $black;
      }

      span {
        color: #a20000;
        // color: black;
        // text-shadow: 1px 1px 3px #a20000;
        font-size: 1.4rem;
        font-weight: 600;
        position: absolute;
        transform: translateX(52px);
        background: transparent;
        border: none;
        outline: none;
        width: 350px;
        transition: 0.2s ease;
        .contact-block {
          color: #333333;
        }
        .contact-block:hover {
          color: #a20000;
          text-shadow: 1px 1px 8px $black;
        }
      }
      .clickInput:hover {
        transform: translateX(56px);
        cursor: pointer;
      }
    }
  }

  .socialNetwork {
    grid-area: 3;
    @include verticalCenter;

    ul {
      display: flex;
      text-align: center;
      width: 80%;
      justify-content: space-around;

      a {
        width: 18%;
        border: 2px solid #a20000;
        font-size: 0.8rem;
        background: $color-1;
        border-radius: $borderRadius;
        display: inline-block;
        padding: 0.7rem 0;
        box-shadow: $shadow;
        transform: scaleY(0);
        transform-origin: center;
        transition: 0.2s ease;
        transition: scale 0.1s;

        &:hover {
          background: $color-7;
          background: #e5511d;
          transition: 0.8s all;

          i {
            color: $color-1;
            transition: 0.8s all;
          }
        }

        i {
          color: $color-8;
          color: #a72b2b;
          margin-top: 0.3rem;
          font-size: 1.4rem;
        }
      }
      //ANIMATION
      @mixin networkAnim($timeout) {
        animation: pop 1s forwards;
        animation-delay: $timeout;
      }
      @keyframes pop {
        to {
          transform: scaleY(1);
        }
      }
      a:nth-child(1) {
        @include networkAnim(0.3s);
      }
      a:nth-child(2) {
        @include networkAnim(0.6s);
      }
      a:nth-child(3) {
        @include networkAnim(0.9s);
      }
      a:nth-child(4) {
        @include networkAnim(1.2s);
      }
    }
  }
}
.text-color {
  color: #a20000 !important;
  font-weight: 700;
  text-shadow: 1px 1px 3px $black !important;
}

@media screen and (max-width: 850px) {
  .contactContent {
    height: 87vh;
  }

  .contactContent {
    .contactBox {
      margin: 0.5rem auto;
    }
  }
}

@media screen and (max-width: 585px) {
  .contactContent {
    .contactBox {
      margin: 0.5rem auto;
      padding: 1rem 1rem;
      min-width: 88% !important;
      h1 {
        font-size: 1.5rem !important;
      }
      ul i {
        font-size: 1rem !important;
      }
      span {
        overflow-wrap: break-word;
        font-size: 1rem !important;
        transform: translateX(25px)!important;
      }
    }
    .contactBox span {
      font-size: 1rem !important;
    }

    .socialNetwork h2 {
      font-size: 0.8rem !important;
    }
    .socialNetwork {
      ul i {
        font-size: 1.1rem;
      }
      ul a {
        width: 50px !important;
        font-size: 1.1rem;
      }
      span {
        font-size: 1rem !important;
      }
    }
  }
}
