.home {
  .homeContent {
    border: 1px solid $black;
    border: 2px solid #ee5a04;
    background: linear-gradient(143deg, $color-1 50%, transparent 100%);
    width: 100%;

    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: inherit;
      background: url("../../media/code-ligne-jaune.jpg") no-repeat center/cover;
      z-index: -1;
      filter: brightness(100%);
    }

    .content {
      position: absolute;
      top: 10%;
      left: 5%;
      font-family: $font-1;

      h1 {
        padding-left: 2rem;
        font-size: 2.5rem;
        font-weight: 800;
        font-family: $font-1;
        font-style: italic;
        color: $color-5;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px $black;
      }
      .h2 {
        font-size: 2.5rem;
        font-weight: 800;
        font-style: italic;
        padding: 4.5rem 16.3rem 0.8rem;
        color: $color-8;
        text-shadow: 1px 4px 1px $black;
      }
      .h3 {
        font-size: 2.5rem;
        font-weight: 800;
        font-style: italic;
        padding: 4.5rem 11.5rem 0.8rem;
        color: $color-8;
        text-shadow: 1px 4px 1px $black;
      }
      .pdf {
        margin-top: 6.5rem;
        margin-left: 1rem;
        a {
          font-size: 1.2rem;
          font-style: italic;
          // background: $color-3;
          // background: #faff38;
          background: #faff38;
          padding: 0.5rem 1rem;
          border-radius: $borderRadius;
          box-shadow: 0 5px 1px rgba(51, 51, 51, 0.76);
          transition: 0.2s ease;

          &:hover {
            background: $color-7;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .home .homeContent {
    background: linear-gradient(143deg, $color-1 55%, transparent 100%);
    height: auto;
    .content {
      position: absolute;
      top: 10%;
      left: 2%;
      font-family: $font-1;

      h1 {
        padding-left: 2rem;
        font-size: 2.5rem;
        text-shadow: 2px 2px 2px $black;
      }
      .h2 {
        font-size: 2.5rem;
        padding: 4.5rem 2rem 0.8rem;
      }
      .h3 {
        font-size: 2.5rem;
        padding: 4.5rem 2rem 0.8rem;
      }
      .pdf {
        margin-top: 4.5rem;
        margin-left: 2rem;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .home .homeContent {
    height: 87vh;
    .content {
      position: absolute;
      top: 10%;
      left: 2%;

      h1 {
        padding-left: 2rem;
        font-size: 2.5rem;
      }
      .h2 {
        font-size: 2.5rem;
        padding: 3.5rem 2rem 0.8rem;
      }
      .h3 {
        font-size: 2.5rem;
        padding: 3.5rem 2rem 0.8rem;
      }
      .pdf {
        margin-top: 3.5rem;
        margin-left: 2rem;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .home .homeContent {
    background: linear-gradient(100deg, $color-1 80%, transparent 100%);
    .content {
      &:after {
        background: url("../../media/code-ligne-jaune.jpg") no-repeat 60% 50% /
          cover !important;
      }
      h1 {
        font-size: 2rem !important;
      }
      .h2 {
        font-size: 2rem !important;
      }
      .h3 {
        font-size: 2rem !important;
      }
      .pdf {
        margin-top: 2.5rem;
        font-size: 1rem;
      }
    }
  }
}
