@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Rotation complète à 360 degrés */
  }
}

.sidebar {
  border: 2px solid #a20000;
  background: #ffb938da;
  font-family: $font-1;

  min-width: 264px;
  border-radius: $borderRadius;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 50% 10%;
  grid-template-areas:
    "1"
    "2"
    "3";
  .id {
    grid-area: 1;
    text-align: center;
    user-select: none;
    position: relative;

    .idContent {
      position: absolute;
      bottom: 0;
      left: 48%;
      transform: translateX(-50%);
      width: 100%;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #333333;
        transition: transform 0.5s ease-in-out;
        &:hover {
          animation: spin 2s linear infinite;
          cursor: pointer;
        }
      }
      .h3 {
        font-weight: 700;
        font-style: italic;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-top: 1.5rem;
        color: $color-6;
        text-shadow: 2px 2px 2px $color-7;
      }
    }
  }

  .navigation {
    grid-area: 2;
    padding: 2rem 1rem;

    ul {
      height: 100%;
      display: grid;

      li {
        padding: 0.4rem 0 1rem 0.4rem;
        font-size: 1.1rem;
        //text-shadow: 1px 1px 10px #7c3939;
        position: relative;
       // transition: font-size 0.2s ease; 
        &:hover {
          //transform: translateY(1px);

          // text-shadow: 1px 1px 1px $white;
          // text-shadow: 1px 1px 10px #7c3939;
          // font-weight: 700;
          i, span {
           font-size: 1.12rem;
           transition:  0.3s ease;
            // font-size: 1.2rem;
            color: #333333;
            // text-shadow: 1px 1px 1px $white;
            // text-shadow: 1px 1px 1px #a20000!important;
            // text-shadow: 3px 3px 10px #7c3939;
          }
        }

        a {
          font-style: italic;
          font-weight: 700;
          color: $color-8;
          color: #a20000;
          // transform: translate(3px, 3px);
          //  text-shadow: 2px 1px 1px $black;
        }
        .navActive {
          color: #333333;
          // text-shadow: 1px 1px 12px #a20000;
          font-weight: 700;
        }

        i {
          position: absolute;
          font-size: 0.95rem;
          // transform: translateY(3px);
          // transition: .2s ease;
        }

        span {
          margin-left: 2.7rem;
          // &:hover{
          //   color: $black;
          //   transform: translate(3px, 3px);
          //   text-shadow: 8px 8px 8px $white;
          // }
        }
      }
    }
  }
  .socialNetwork {
    grid-area: 3;

    ul {
      display: flex;
      width: 264px;
      padding: 0 14px;
      justify-content: space-around;

      li {
        font-size: 1.2rem;
        // background: $color-8;
        background: #e5511d;
        color: $color-1;
        border-radius: 50%;
        padding: 0.3rem 0.5rem;
        transition: 0.3s;
        cursor: pointer;

        // a:hover {
        //   transition: 0.3s all;
        //   color: $color-1;
        // }
        &:nth-child(1) {
          //linkedin
          padding: 0.3rem 0.5rem;
        }
        &:nth-child(4) {
          padding: 0.3rem 0.5rem;
        }
        &:hover {
          background: $color-7;
          transform: scale(1.1);
          a {
            transition: 0.3s all;
            color: $color-1;
          }
        }
      }
    }
    .signature {
      margin-top: 2rem;
      text-align: center;
      letter-spacing: 0.1rem;
      font-size: 0.7rem;

      a,
      a:visited {
        color: $color-5;

        &:hover {
          color: $color-7;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  //jusqu'à 850 px en max-width on affiche la sidebar de cette manière:
  .sidebar {
    display: flex;
    min-height: 50px;
    margin-bottom: 0.2rem;

    .id,
    .socialNetwork {
      display: none; //on ne voit plus le bloc .id et le bloc .socialNetwork
    }
    .navigation {
      width: 100%;
      padding: 0.1rem 1rem;

      ul {
        display: flex;
        justify-content: space-between; //vous vous écartez les uns des autres

        span {
          margin-left: 1.5rem !important; //! important pour qu'il se rapproche de son élément
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  //jusqu'à 580 px en  max-width affichage de catte manière:
  .sidebar {
    ul {
      justify-content: space-around !important; //écarté les uns des autres et tiens compte des bords

      li {
        padding: 1rem 0 !important;
      }
      i {
        font-size: 1.4rem !important;
        transform: translateY(-3px) !important;
      }
      span {
        display: none;
      }
    }
  }
}
